.node--type-mwdiscussion span.xt-highlight,
.xtsi-content .content-special span.xt-highlight {
    font-weight: bold;
}
.node--type-mwdiscussion  span.xt-highlight.xt-warn,
.xtsi-content .content-special  span.xt-highlight.xt-warn {
    color: red;
}
.node--type-mwdiscussion .mwdiscuss-node-info,
.node--type-mwdiscussion .mwdiscuss-state-info {
    margin-left: 24px;
    line-height: 1.2;
}
.node--type-mwdiscussion .mwdiscuss-start-info {
    line-height: 1.2;
}

