.slogxt-dropbutton .dropbutton-action a.icon-vote:before,
.content-special .toggle-special .buttons-wrapper .special-button.first {
    background-image: url("icons/action-vote.svg");
}
.slogxt-dropbutton .dropbutton-action a.icon-collaborate:before,
.content-special .toggle-special .buttons-wrapper .special-button.next {
    background-image: url("icons/action-collaborate.svg");
}
